<form #form="ngForm" (ngSubmit)="onSubmit()" style="margin-top: 20px">
  <div class="form-group">
    <label for="email">Enter your email: </label>
    <input
      type="email"
      class="form-control"
      name="email"
      ngModel
      required
      #email="ngModel"
      email
    />
    <span *ngIf="email.touched && !email.valid" class="text-danger"
      >Please, enter valid email</span
    >
  </div>
  <div class="form-group">
    <label for="password">Enter your password: </label>
    <input
      type="password"
      class="form-control"
      name="password"
      ngModel
      required
      password
      #password="ngModel"
    />
    <span *ngIf="password.touched && !password.valid" class="text-danger"
      >Please, enter valid password</span
    >
  </div>
  <div class="form-group">
    <label for="subscription">Choose your subscription</label>
    <select class="form-control" name="subscription" [ngModel]="'premium'">
      <option value="basic">Basic</option>
      <option value="standard">Standard</option>
      <option value="premium">Premium</option>
    </select>
  </div>
  <div *ngIf="form.submitted && !form.valid" class="text-danger">
    It seems you've missed something
  </div>
  <button type="submit" class="btn btn-success">GO!</button>
</form>
